footer{
    width: 100%;
    min-height: 90vh;
    position: relative;
    left: 0;
    bottom: 0;
    background: #f5f5f5;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    .footer_top{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        padding-top:50px;
        h2{
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            font-size: 40px;
            letter-spacing: 2px
        }
        p{
            font-family: 'Poppins', sans-serif;
            font-size: 1.25em;
            margin: 10px 0;
        }
        input{
            margin: 20px 0;
            padding: 15px 40px;
            outline: none;
            border: none;
        }
        input::placeholder{
            color: #555;
            letter-spacing: 2px;
        }
        button{
            @include button();
            background-color: #0559f5f5;
            margin-left: 12px;
            :focus{
                border: 1px solid #0559f5f5;
            }
        }
        button:focus{
            border: 1px solid #0559f5f5;
        }
        button:hover{
            background-color: #fff;
            color: #0559f5f5;
            cursor: grab;
            transition: 0.4s;
        }
  
    }
    }

    .footer_below{
        width: 100%;
        min-height: 30vh;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        background: rgba(2, 111, 212, 0.938) !important;
        text-align: justify !important;
        @include display();
        .footer_menu li{
            margin: 10px 0;
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            color: #fff;
            i{
                margin-right: 10px;
            }
        }
        li:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        .social_links i{
            cursor: pointer;
            color: #fff;
            font-size: 1.25rem;
            margin: 0 15px;
            border: 1px solid #fff;
            padding: 10px;
            transition: 0.3s;
            border-radius: 20px;
        }
        .social_links i:hover{
            background-color: #fff;
            color: #026fd4ef;
            transition: 0.3s;
        }
    }
    @media (min-width:0px) and (max-width:768px){
        footer{
            min-height: 120vh;
        }
        .footer_below{
            min-height: 50vh;
            flex-direction: column;
        }
        .social_links i{
            margin: 10px 0;
        }
        .footer_menu li{
            margin-top: 15px;
        }

    }