@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Mochiy+Pop+One&family=Open+Sans+Condensed:ital,wght@1,300&family=Poppins:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
header {
  width: 100%;
  min-height: 90vh;
  background-image: url(../img/bg-22-05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header .container {
  width: 100%;
  min-height: 90vh;
  background: rgba(0, 0, 0, 0.3);
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar .logo a {
  text-decoration: none;
  color: #fff;
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-weight: normal;
}

.navbar .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.navbar .menu li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 1.15rem;
  margin-left: 30px;
}

.navbar .menu .btn {
  padding: 10px 25px;
  border: 1px solid #0559f5f5;
  background: transparent;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 50px;
  font-weight: 600;
}

.navbar .menu .btn:hover {
  background-color: #fff;
  color: #0559f5f5;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menubar {
  display: none;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.content_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding-top: 120px;
  text-align: center;
}

.content_header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 70px;
  letter-spacing: 2px;
}

.content_header .title-item {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 1.1em;
  margin-left: 35px;
}

.content_header button {
  padding: 10px 25px;
  border: 1px solid #0559f5f5;
  background: transparent;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 50px;
  font-weight: 600;
  background-color: #0559f5f5;
}

.content_header button:hover {
  background-color: #fff;
  color: #0559f5f5;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav_mobile {
  width: 100%;
  min-height: 90vh;
  background: #fff;
  position: absolute;
  z-index: 1;
  top: -90vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 0;
}

.menu_mobile {
  width: 100%;
  min-height: 90vh;
  background-color: #0559f5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

.menu_mobile li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 1.15rem;
  margin-left: 30px;
}

.menu_mobile .btn {
  padding: 10px 25px;
  border: 1px solid #0559f5f5;
  background: transparent;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 50px;
  font-weight: 600;
  background-color: #fff;
  color: #0559f5f5;
}

@media (max-width: 576px) {
  .navbar .menu {
    display: none;
  }
  .content_header h1 {
    font-size: 40px;
    margin-left: 40px;
  }
  .content_header {
    padding-top: 200px;
  }
  .menubar {
    display: inline-block;
  }
  .active {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .navbar .menu {
    display: none;
  }
  .menubar {
    display: inline-block;
  }
  .content_header {
    padding-top: 100px;
  }
  .active {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

section {
  width: 100%;
  min-height: 100vh;
  margin-top: 10vh;
}

.text_content {
  width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 50px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.text_content h3 {
  font-size: 40px;
  margin: 1em;
}

.text_content h3 span {
  letter-spacing: 2px;
  font-weight: 600;
  color: rgba(12, 228, 95, 0.959);
  margin-top: 10px;
}

.text_content p {
  font-size: 1.25rem;
}

.desc_content {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.desc_content .imgBox img {
  width: 500px;
  height: 480px;
  margin: 0 30px;
}

.desc_content .textBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desc_content .textBox h3 {
  font-size: 40px;
}

.desc_content .textBox p {
  margin: 20px 0;
}

.desc_content .textBox button {
  padding: 10px 25px;
  border: 1px solid #0559f5f5;
  background: transparent;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 50px;
  font-weight: 600;
  background-color: #0559f5f5;
  margin-right: 30px;
  cursor: pointer;
}

.desc_content .textBox button:hover {
  background-color: #fff;
  color: #0559f5f5;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.desc2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 576px) {
  .desc_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .textBox {
    margin: 1em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .desc_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textBox {
    margin: 1em;
  }
  .desc_content .imgBox img {
    margin: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .desc_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textBox {
    margin: 1em;
  }
}

footer {
  width: 100%;
  min-height: 90vh;
  position: relative;
  left: 0;
  bottom: 0;
  background: #f5f5f5;
  margin-top: 30px;
  text-align: center;
  padding: 10px;
}

footer .footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

footer .footer_top h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 2px;
}

footer .footer_top p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  margin: 10px 0;
}

footer .footer_top input {
  margin: 20px 0;
  padding: 15px 40px;
  outline: none;
  border: none;
}

footer .footer_top input::-webkit-input-placeholder {
  color: #555;
  letter-spacing: 2px;
}

footer .footer_top input:-ms-input-placeholder {
  color: #555;
  letter-spacing: 2px;
}

footer .footer_top input::-ms-input-placeholder {
  color: #555;
  letter-spacing: 2px;
}

footer .footer_top input::placeholder {
  color: #555;
  letter-spacing: 2px;
}

footer .footer_top button {
  padding: 10px 25px;
  border: 1px solid #0559f5f5;
  background: transparent;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 50px;
  font-weight: 600;
  background-color: #0559f5f5;
  margin-left: 12px;
}

footer .footer_top button :focus {
  border: 1px solid #0559f5f5;
}

footer .footer_top button:focus {
  border: 1px solid #0559f5f5;
}

footer .footer_top button:hover {
  background-color: #fff;
  color: #0559f5f5;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer_below {
  width: 100%;
  min-height: 30vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(2, 111, 212, 0.938) !important;
  text-align: justify !important;
  width: 100%;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_below .footer_menu li {
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  color: #fff;
}

.footer_below .footer_menu li i {
  margin-right: 10px;
}

.footer_below li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer_below .social_links i {
  cursor: pointer;
  color: #fff;
  font-size: 1.25rem;
  margin: 0 15px;
  border: 1px solid #fff;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 20px;
}

.footer_below .social_links i:hover {
  background-color: #fff;
  color: #026fd4ef;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 0px) and (max-width: 768px) {
  footer {
    min-height: 120vh;
  }
  .footer_below {
    min-height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social_links i {
    margin: 10px 0;
  }
  .footer_menu li {
    margin-top: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */